table{
    width:100%
}

@media screen and (max-width: 400px) {
    .button-text {
        display: none;
    }
    .button-small{
        display:block
    }
}

@media screen and (min-width: 400px) {
    .button-small{
        display:none
    }
}