<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutGap="10px" class="container">
            <span>Deduction Assign List</span>
            <span fxFlex></span>
            <button  mat-stroked-button [routerLink]="['/main/deduction-assign-setup']">
                <span class="button-text">Assign New Deduction </span>
                <span class="button-small">Assign New</span>
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxFlexFill>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Search </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-container">
            <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                    <td mat-cell *matCellDef="let element">{{element.deductionHisId}}</td>
                </ng-container>
                <ng-container matColumnDef="deduction">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Deduction</th>
                    <td mat-cell *matCellDef="let element">{{element.deduction.description}}</td>
                </ng-container>
                <ng-container matColumnDef="employee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                    <td mat-cell *matCellDef="let element">{{element.employee.description}}</td>
                </ng-container>
                <ng-container matColumnDef="deductionDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Deduction Date</th>
                    <td mat-cell *matCellDef="let element">{{element.deductionDate |date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                </ng-container>
                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
                    <td mat-cell *matCellDef="let element">{{element.remark}}</td>
                </ng-container>
                \<ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="getDeductionHisDataRow(element)" >edit</button>
                        <button mat-button (click)="removeDeduction(element)" >delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getDeductionHisDataRow(row)"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer> 
</mat-card>

