<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutGap="10px" class="container">
            <span>Roster List</span>
            <span fxFlex></span>
            <button mat-stroked-button [routerLink]="['/main/roster-setup']">New Roster</button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div fxlayout="row" fxFlexFill>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                <td mat-cell *matCellDef="let element;let i = index">{{i+1}}</td>
            </ng-container>
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                <td mat-cell *matCellDef="let element">{{element.rosterId}}</td>
            </ng-container>
            <ng-container matColumnDef="shift">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Shift</th>
                <td mat-cell *matCellDef="let element">{{element.shift.description}}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                <td mat-cell *matCellDef="let element">{{element.startDate |date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                <td mat-cell *matCellDef="let element">{{element.endDate |date:'dd/MM/yyyy'}}</td>
            </ng-container>
            <ng-container matColumnDef="remark">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
                <td mat-cell *matCellDef="let element">{{element.remark}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let element">
                   <button mat-button (click)="getRosterDataRow(element)" >edit</button>
                   <button mat-button (click)="removeRoster(element)" >delete</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getRosterDataRow(row)"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>