<mat-card>
    <mat-card-title>
      <div fxLayout="row" fxLayoutGap="10px" class="container">
        <span>Attendance Setup</span>
  
        <span fxFlex></span>
        <button mat-stroked-button [routerLink]="['/main/leave-opening']" (click)="onBacktoList()">Back</button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider><br>
      <form class="form" role="form" (ngSubmit)="onSaveAttendance(attenForm.value)"
        [formGroup]="attenForm">
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap.gt-lg="10px" fxLayoutGap.lg="10px"
          fxLayoutGap.md="10px" fxLayoutGap.sm="10px" fxLayoutGap.xs="0%">
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Attendance ID</mat-label>
            <input matInput name="leaveHisId" disabled="{{ (attenId=='') ? false:true }}">
          </mat-form-field>
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select name="employee" formControlName="employee" [compareWith]="compareEmployee">
              <mat-option *ngFor="let item of employees" [value]="item">
                {{item.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
        </div>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap.gt-lg="10px" fxLayoutGap.lg="10px"
          fxLayoutGap.md="10px" fxLayoutGap.sm="10px" fxLayoutGap.xs="0%">
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
          <div fxFlex class="time-frame">
            <label>Start Time</label>
            <ngx-mat-timepicker formControlName="startTime" name="startTime"></ngx-mat-timepicker>
        </div>
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
          <div fxFlex class="time-frame">
            <label>Start Time</label>
            <ngx-mat-timepicker formControlName="endTime" name="endTime"></ngx-mat-timepicker>
        </div>
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
        </div>
        <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap.gt-lg="10px" fxLayoutGap.lg="10px"
          fxLayoutGap.md="10px" fxLayoutGap.sm="10px" fxLayoutGap.xs="0%">
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Attendance Date</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="attenDate" name="attenDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
  
          </mat-form-field>
          <span fxFlex.gt-lg="55%" fxFlex.lg="55%" fxFlex.md="52%" fxFlex.sm="50%"></span>
        </div>
        <div fxLayout="row" fxFlexFill fxLayout.gt-lg="10px" fxLayoutGap.lg="10px" fxLayoutGap.md="10px"
          fxLayoutGap.sm="10px" fxLayoutGap.xs="0%">
          <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%"></span>
          <span fxFlex></span>
          <span class="title-name">{{ (attenId=='') ? ' New ':' Edit ' }}</span>
        </div>
        <br>
        <mat-divider></mat-divider><br>
        <div class="form-field" fxLayout="row" fxLayoutGap="20px">
          <span fxFlex.lt-xl fxFlex.gt-lg fxHide.lt-sm></span>
          <button #saveCustomer fxFlex.lt-sm mat-flat-button color="primary" type="submit"
            [disabled]="!attenForm.valid">
            {{ (attenId=='') ? 'Add':'Save' }}
          </button><!-- fxFlex.gt-sm fxFlex.gt-xs fxFlex.lt-sm -->
          <button mat-stroked-button fxFlex.lt-sm color="primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
  
    </mat-card-footer>
  </mat-card>