.success {
    background-color: #198754;
    color: white;
    font-weight:lighter;
  }
  
  .info {
    background-color: #0d6efd;
    color: white;
    font-weight: lighter;
  }
  
  .warning {
    background-color: #ffc107;
    color: white;
    font-weight: lighter;
  }
  
  .error {
    background-color: #dc3545;
    color: white;
    font-weight: lighter;
  }