<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutGap="10px" class="container">
            <span>Shift Swapping List</span>
            <span fxFlex></span>
            <button mat-stroked-button [routerLink]="['/main/shift-swapping-setup']">New Shift Swapping</button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div flexlayout="row" fxFlexFill>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Search </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-container">
            <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="fromEmployee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>From Employee</th>
                    <td mat-cell *matCellDef="let element">{{element.fromEmployeeId.description}}</td>
                </ng-container>
                <ng-container matColumnDef="toEmployee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>To Employee</th>
                    <td mat-cell *matCellDef="let element">{{element.toEmployeeId.description}}</td>
                </ng-container>
                <ng-container matColumnDef="fromDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                    <td mat-cell *matCellDef="let element">{{element.fromDate|date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="toDate">
                    <th mat-header-cell *matHeaderCellDef>TO Date</th>
                    <td mat-cell *matCellDef="let element">{{element.toDate|date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef>Remark</th>
                    <td mat-cell *matCellDef="let element">{{element.remark}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="getShiftSwapDataRow(element)">edit</button>
                        <button mat-button (click)="removeShift(element)">delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getShiftSwapDataRow(row)"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>