<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutGap="10px" class="container">
            <span>Leave Opening List</span>
            <span fxFlex></span>
            <button  mat-stroked-button [routerLink]="['/main/leave-opening-setup']">
                <span > New Leave Opening </span>
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>
            <mat-form-field  appearance="outline">
                <mat-label>Search </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
            <span fxFlex.gt-lg="10%" fxFlex.lg="10%" fxFlex.md="5%" fxFlex.sm="5%"></span>
            <mat-form-field  appearance="outline">
                <mat-label>Status </mat-label>
                <mat-select matNativeControl required (selectionChange)="changeEvent($event)">
                    <mat-option >All</mat-option>
                    <mat-option value="true">Approved</mat-option>
                    <mat-option value="false">Decline</mat-option>
                  </mat-select>
            </mat-form-field>
            <span fxFlex></span>
        </div>
        <div class="table-container">
            <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Opening</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{element.leaveOpeningId}}</td>
                </ng-container>
                <ng-container matColumnDef="employee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{element.employee.description}}</td>
                </ng-container>
                <ng-container matColumnDef="leave">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{element.leave.description}}</td>
                </ng-container>
                <ng-container matColumnDef="dayCount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Day Count</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{element.dayCount}}</td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.openingDate |date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="getLeaveOpeningDataRow(element)" >edit</button>
                        <button mat-button (click)=" (element)" >delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getLeaveOpeningDataRow(row)"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer> 
</mat-card>

