<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutGap="10px" class="container">
            <span>late List</span>
            <span fxFlex></span>
            <button mat-stroked-button [routerLink]="['/main/late-setup']">New Late</button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxFlexFill>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Search </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-container">
            <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                    <td mat-cell *matCellDef="let element">{{element.lateId}}</td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                    <td mat-cell *matCellDef="let element">{{element.description}}</td>
                </ng-container>
                <ng-container matColumnDef="lateMin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>late Min</th>
                    <td mat-cell *matCellDef="let element">{{element.lateMin}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef>Active</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox color="primary" checked="{{element.active}}" disabled></mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="getJobDataRow(element)">edit</button>
                        <button mat-button (click)="removeLate(element)">delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getJobDataRow(row)"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>