<mat-card>
    <mat-card-title>
        <div fxLayout="row" fxLayoutGap="10px" class="container">
            <span>job Assign List</span>
            <span fxFlex></span>
            <button  mat-stroked-button [routerLink]="['/main/job-assign-setup']">
                <span class="button-text">Assign New Job </span>
                <span class="button-small">Assign New</span>
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="row" fxFlexFill>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Search </mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="table-container">
            <table [dataSource]="dataSource" mat-table matSort>
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                    <td mat-cell *matCellDef="let element;let i=index">{{i+1}}</td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                    <td mat-cell *matCellDef="let element">{{element.jobHisId}}</td>
                </ng-container>
                <ng-container matColumnDef="job">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Job</th>
                    <td mat-cell *matCellDef="let element">{{element.job.description}}</td>
                </ng-container>
                <ng-container matColumnDef="employee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
                    <td mat-cell *matCellDef="let element">{{element.employee.description}}</td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                    <td mat-cell *matCellDef="let element">{{element.startDate |date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                    <td mat-cell *matCellDef="let element">{{element.endDate |date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Remark</th>
                    <td mat-cell *matCellDef="let element">{{element.remark}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="getJobHisDataRow(element)" >edit</button>
                        <button mat-button (click)="removeJobHistory(element)" >delete</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns" (dblclick)="getJobHisDataRow(row)"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer> 
</mat-card>

