<mat-card> 
    <mat-card-title>
      <div fxLayout="row" fxLayoutGap="10px" class="container">
        <span>Payday Setup</span>
        <span fxFlex></span>
        <button  mat-stroked-button [routerLink]="['/main/payday']" (click)="onBacktoList()">Back</button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider><br>
      <form class="form" role="form" (ngSubmit)="onSavePayday()" [formGroup]="paydayForm" >
        <div 
          fxLayout="row" 
          fxFlexFill fxLayout.lt-sm="column" 
          fxLayoutGap.lg="10px" fxLayoutGap.md="10px" fxLayoutGap.sm="10px" fxLayoutGap.xs="0%"
        >
          <span fxFlex.lg="10%" fxFlex.md="5%"></span>
          <mat-form-field fxFlex  appearance="outline">
            <mat-label>Payday ID</mat-label>
            <input matInput [(ngModel)]="payday.payDayId" name="paydayId" [ngModelOptions]="{standalone:true}"
            disabled="{{ (paydayId=='') ? false:true }}"  
            >
          </mat-form-field>
          <span fxFlex.lg="10%" fxFlex.md="5%"></span>
          <mat-form-field fxFlex  appearance="outline" >
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="payday.description" name="description" formControlName="description">
          </mat-form-field>
          <span fxFlex.lg="10%" fxFlex.md="5%"></span>
        </div>
        <div 
          fxLayout="row" 
          fxFlexFill fxLayout.lt-sm="column" 
          fxLayoutGap.lg="10px" fxLayoutGap.md="10px" fxLayoutGap.sm="10px" fxLayoutGap.xs="0%"
        >
          <span fxFlex.lg="10%" fxFlex.md="5%"></span>
          <mat-form-field fxFlex  appearance="outline">
            <mat-label>Day Count</mat-label>
            <input matInput [(ngModel)]="payday.dayCount" name="dayCount" [ngModelOptions]="{standalone:true}">
          </mat-form-field>
          <span fxFlex.lg="55%" fxFlex.md="52%" fxFlex.sm="50%"></span>
          <span fxFlex></span>
          <span class="title-name">{{ (paydayId=='') ? ' New ':' Edit ' }}</span>
        </div>
        
        <br><mat-divider></mat-divider><br>
        <div class="form-field" fxLayout="row" fxLayoutGap="20px">
          <span fxFlex.lt-xl fxFlex.gt-lg fxHide.lt-sm ></span>
          <button #saveCustomer fxFlex.lt-sm mat-flat-button color="primary" type="submit" [disabled]="!paydayForm.valid" >
            {{ (paydayId=='') ? 'Add':'Save' }} 
          </button><!-- fxFlex.gt-sm fxFlex.gt-xs fxFlex.lt-sm -->
          <button mat-stroked-button fxFlex.lt-sm color="primary" type="button" (click)="onClear()" >Clear</button>
        </div>
        </form> 
    </mat-card-content>
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>
  