<mat-toolbar color="primary">
    <button mat-icon-button class="menu" (click)="sideService.openNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span><a>Core Attendance</a></span>
    <span class="example-spacer"></span>
    <div class="pull-right">
        <button mat-icon-button [matMenuTriggerFor]="settingMenu" matTooltip="Setting">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #settingMenu='matMenu'> 
            <button mat-menu-item [matMenuTriggerFor]="setting">Settings</button>
            <button mat-menu-item [matMenuTriggerFor]="opening">Openings</button>
        </mat-menu>

        <mat-menu #setting='matMenu'> 
            <button mat-menu-item>Settings 1</button>
            <button mat-menu-item>Settings 2</button>
        </mat-menu>

        <mat-menu #opening='matMenu'> 
            <button mat-menu-item>Openings 1</button>
            <button mat-menu-item>Openings 2</button>
        </mat-menu>

        <button mat-icon-button matTooltip="Help?">
            <mat-icon>help_outline</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Account">
            <mat-icon>person_outline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>SignOut
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-progress-bar class="d-none" mode="indeterminate"></mat-progress-bar>